<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <link rel='stylesheet' href='/css/styles.css'>
  <title>About</title>
</head>
<body>
  {{>header}}
  <main>
    <p>This site was created by {{name}}.  It was built using data from <a class='source-link' href="weatherstack.com"><span data-content='Weatherstack'>Weatherstack</span></a> and <a class='source-link' href="mapbox.com"><span data-content='Mapbox'>Mapbox</span></a>.</p>
    <img class='portrait' src="/img/Tom.jpg" alt="Image of Tom">
  </main> 
  {{>footer}}
</body>
</html>